# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\bschueler\Documents\Personal Interest\GTech\ISYE6644\Mini_Project2_PandemicFlu\pandemic_simulation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
